@import "~bulma/sass/utilities/initial-variables"

// Config vars
// Kaldi logo brand color: #FD461E
$kaldi-red: #D64000
$kaldi-red-invert: #fff

$primary: $kaldi-red
$primary-invert: $kaldi-red-invert
$body-color: #333
$black: #2b2523

$desktop: 1150px
$tablet: 890px
$phone: 640px

$h1-base: 7em
$h1-desktop: 5em
$h1-tablet: 4em
$h1-phone: 2.5em
// @import "~bulma"
*
  font-family: 'Raleway', sans-serif


html, body, p, h1, h2, h3, h4, h5, h6, a 
  margin: 0px
  padding: 0px


//index-page

.hero
  min-height: 100vh
  position: relative
  display: flex
  flex-direction: row
  justify-content: center
  @media screen and (max-width: $tablet)
    flex-direction: column
  .cta
    a
      border-radius: 99px
      background-color: #fff
      box-shadow: 0px 1px 2px rgba(97, 97, 97, 0.2), 0px 2px 4px rgba(97, 97, 97, 0.2)
      padding: 27px
      font-weight: 600
      font-size: 20px
      line-height: 138%
      align-items: center
      text-align: center
      letter-spacing: 0.0075em
      margin-right: 16px
      position: relative
      display: inline-block
  a
    display: inline 
    .socialLink
      position: relative
      align-items: center
      justify-content: center
      padding: 16px
      border-radius: 99px
      overflow: hidden
      box-shadow: 0px 1px 2px rgba(97, 97, 97, 0.2), 0px 2px 4px rgba(97, 97, 97, 0.2)
      width: 80px
      height: 80px
      margin-right: 16px
      display: inline-block
      img
        width: 100%
  .content
    display: flex
    flex-direction: column
    justify-content: center
    flex: 1
    padding: 48px
    z-index: 10
    p 
      color: #0A306A
      font-size: 2em
      line-height: 130%
      @media screen and (max-width: $phone)
        font-size: 1.4em
    h1, h2
      font-style: normal
      font-weight: 300
      font-size: $h1-base
      z-index: 1
      line-height: 90%
      text-transform: uppercase
      padding: 24px 0px
      @media screen and (max-width: $desktop)
        font-size: $h1-desktop
        &.lead
          font-size: 6em
      @media screen and (max-width: $tablet)
        font-size: $h1-tablet
        &.lead
          font-size: 5em
      @media screen and (max-width: $phone)
        font-size: $h1-phone
        &.lead
          font-size: 4em
      &.skill
        font-weight: 900
        position: relative
        width: fit-content
        opacity: 0.5
        color: rgb(255, 99, 72)
        transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1)
        &::after
          content: ""
          position: absolute
          height: 1vw
          width: 0%
          left: 0
          bottom: 0
          background: rgb(255, 99, 72)
          transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1)
        &:hover
          opacity: 1
          &::after
            width: 100%
        @media screen and (max-width: $phone)
          padding: 8px
          font-size: 2em
  &.right, &.left
    .content
      flex: 1
      display: flex
      position: relative
      margin-left: 0px
      padding: 48px
      @media screen and (max-width: $tablet)
        margin-left: 0px
        min-height: 60vh
    .background
      display: flex
      flex: 1
      height: 100%
      z-index: 0
      min-height: 100vh;
      .heroimage1
        position: absolute
        right: 0
        top: 0
        pointerEvents: none
        transform: translate(0px, 0px) scale(1) 
        transform-origin: right center
      @media screen and (max-width: $desktop)
        .heroimage1
          transform: scale(0.7)
      @media screen and (max-width: $tablet)
        display: flex
        align-items: center
        position: relative
        min-height: 50vh
        .heroimage1
          position: relative
          width: 100%     
          transform: translate(-15vw, -10vh) scale(1.5)    
  &.left
    flex-direction: row-reverse
    @media screen and (max-width: $tablet)
      flex-direction: column-reverse
  form
    p 
      color: #fff
    input, textarea
      margin-bottom: 24px
      display: block
      height: 50px
      width: 100%
      margin: 0 auto
      border: none
      background-color: rgba(255,255,255,0)
      &::placeholder
        -webkit-transform: translateY(0px)
        transform: translateY(0px)
        -webkit-transition: 0.5s
        transition: 0.5s
      &:hover, &:focus, &:active:focus
        color: #ff5722
        outline: none
        border-bottom: 1px solid #fff
        &::placeholder
          color: #fff;
          position: relative
          -webkit-transform: translateY(-20px)
          transform: translateY(-20px)

  
  .email
    position: relative
    z-index: 1
    border-bottom: 1px solid rgba(0,0,0,.1)
    padding-left: 20px
    text-transform: uppercase
    color: #858585
    font-weight: lighter
    -webkit-transition: 0.5s
    transition: 0.5s

.connectimg
  animation: connect 5s linear infinite
@keyframes connect 
  0%
    transform: translateY(0px)
  25%
    transform: translateY(+20px)
  50%
      transform: translateY(0px)
  75%
      transform: translateY(-20px)
  100%
    transform: translateY(0px)