@import "~bulma/sass/utilities/initial-variables"

// Config vars
// Kaldi logo brand color: #FD461E
$kaldi-red: #D64000
$kaldi-red-invert: #fff

$primary: $kaldi-red
$primary-invert: $kaldi-red-invert
$body-color: #333
$black: #2b2523

*
  font-family: 'Raleway', sans-serif

@import "~bulma"
// responsiveness
+tablet-only
  .blog-list-item .featured-thumbnail
    flex-basis: 50%;

+mobile
  .blog-list-item header
    display: block
  .blog-list-item .featured-thumbnail
    text-align: center;
    max-width: 70%;
    margin: 0 0 1em;


  //index-page

.hero
  height: 100vh
  position: relative
  display: flex
  justify-content: center
  h1 
    font-size: 116px
    font-weight: 900
    text-transform: uppercase
    line-height: 90%
    z-index: 1
    span
      font-weight: 300
  &.right
    .background
      width: 50%
      height: 100%
      position: absolute
      right: 0
      top: 0
      z-index: 0
  &.left
    .background
      width: 50%
      height: 100%
      position: absolute
      left: 0
      top: 0
      z-index: 0


    // 1150